.knowledge{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}
.Knowledge_general h3{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
}

.knowledge img{
    width: 300px;
}