
.infoMe {
    display: flex;
    margin-top: 100px;
}


.infoText {
    display: flex;
    justify-content: center;
    margin-top: 0px;

}

.infoTextt p {
    width: 44ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    animation: typing 3s steps(44) forwards, blink .5s infinite step-end alternate;
    margin: 0 50px;

}



.text-infoMe {
    margin-left: 10px;
}
.text-infoMe h1{
    font-size: 3rem
}


.About {
    margin-top: 80px;
}



.About-title h3 {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
}



.bio-title h3 {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
    
}

#Dark .About-title h3,
#Dark .bio-title h3 {
    text-decoration-color: white;
}

#Light .About-title h3,
.bio-title h3 {
    text-decoration-color: rgb(0, 0, 0);
}

.info-about {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.info-about p {
    text-align: justify;
}


.button-projects {
    display: flex;
    justify-content: center;
    margin-top: 100px; 
}



.Bio {
    margin-top: 100px;
}

.bio-date {
    margin-top: 20px;
}

.bio-date p {
    margin-top: 10px;
}

.bio-date b {
    margin-right: 15px;
}


.sign {
    margin-top: 100px;
}


.image-infoMe img {
    transition: transform 0.7s ease-in-out
}
.image-infoMe.visible img {
    transform: rotateY(360deg);
}

.about-recommendations{
    margin-top: 100px;
}

.recommendations{
    display: flex;
    margin-top: 100px;
    gap: 15px;
}


/*Keyframes*/


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 44ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


/*Keyframes*/


/*Meida querys*/

@media screen and (max-width:580px) {

    .infoMe {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-infoMe img {
        width: 150px;
    }

    .text-infoMe h1 {
        font-size: 3rem;
    }

    .infoTextt p {
        margin: 0;
        font-size: 0.7rem;

    }

    .recommendations{
        flex-direction: column;
    }

}


@media screen and (max-width:400px) {

    .infoMe h1 {
        font-size: 2.5rem;
        text-align: center;
    }
}



/*Meida querys*/