.banner{
    padding: 100px;
    display: flex;
    justify-content: center;
}

.img__banner{
    display: flex;
}

.iconss{
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner{
    padding: 100px;
    display: flex;
    justify-content: center;
}

.img__banner{
    display: flex;
}



.iconss img {
    width: 100px;
   margin-bottom: 40px;
   margin-left: 10px;
}



@media screen and (max-width:580px) {
    
    .iconss img {
       width: 70px;
    }

    .iconss h3 {
       font-size: 1rem;
    }
    

}

@media screen and (max-width:420px) {
    
    .iconss img {
       display: none;
    }

    .iconss h3 {
       font-size: 1rem;
    }

    .img-ani img {
        width: 300px;
    }

    .img-ani .animacion{
        width: 100px;
    }
    
    

}




