.card {
    width: 280px;
}

.img{
    position: relative;
}

.img img{
    width: 100%;
    height: 180px;
    object-fit: cover;
   
}

.content-text h3{
    text-align: center;
}
.content-text p{
    text-align:justify;
}


.button__card{
    position: absolute;
    bottom: 6px;
    right: 0; 
}




#Light .button__card  .button svg{
    color: rgb(255, 255, 255)  !important ;
}
