.card-services{
    display: flex;
    justify-content: space-around;  
}



.text-title__services h3{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
}



@media screen and (max-width:575px) {
    .card-services{
        flex-direction: column;
        align-items: center;
    }
}