.infoText{
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}

.infoText.infoTextBlack{
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0.12) 0.01%, rgba(217, 217, 217, 0.00) 100%);
    color: white;
}

 .infoText.infoTextPurple{
    background: linear-gradient(0deg, rgba(55, 55, 218, 0.13) 0%, rgba(55, 55, 218, 0.13) 100%);
    color: #202023;
}