.button {
    border: none;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}



.button:hover {
    opacity: 0.8;
}


.button.buttonGreyGradient {
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0.12) 0.01%, rgba(217, 217, 217, 0.00) 100%);
    color: white;
}

.button.buttonBlackGradient {
    background: linear-gradient(180deg, #0C0A0F 0%, rgba(227, 229, 217, 0.06) 99.99%, rgba(235, 238, 216, 0.00) 100%);
}

.button.buttonPurple {
    background-color: #964BF4;
    color: white;
}

.button.buttonPurplelight {
    background: linear-gradient(180deg, #3737DA 0.01%, rgba(55, 55, 218, 0.24) 0.02%, rgba(55, 55, 218, 0.13) 0.03%);
    color: #202023;
}

.button.buttonPurpleGradient {
    background: linear-gradient(180deg, #5915EB 0%, rgba(227, 229, 217, 0.06) 99.99%, rgba(235, 238, 216, 0.00) 100%);
    color: #202023;
}


.button.buttonYellowGradient {
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(205, 207, 90, 0.616) 0%, rgba(227, 229, 217, 0.06) 99.99%, rgba(235, 238, 216, 0.00) 100%);
}

.button.hasIcon svg {
    padding: 4px;
}