.text-title__projects h3{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
}


.card-projects{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 100px;
}

.card-projects img{
   border-radius: 15px;
}

@media screen and (max-width:642px) {
    .card-projects{
        justify-content: center;
        width: 100%;
    }
    .card-projects .card{
        margin: 10px;
    }
    
}