.totoro__Eyes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    position: relative;
}


#eyes , #eyes img{
    position: absolute;
}

.totoro{
    width: 350px;
    z-index: 10;
}

.totoroAzul{
    position: absolute;
    margin-bottom: 100px;
    margin-left: 50px;
    z-index: 9;
    transition: all 0.5s ease ;
    width: 160px;
}
.totoroWhite{
    position: absolute;
    margin-top: 0px;
    z-index: 8;
    margin-left: 75px;
     width: 100px;
    transition: all 0.5s ease ;
}

.funciona{
    margin-bottom: 400px;
    transition: all 0.5s ease ;
}
.white{
    margin-bottom: 610px;
    transition: all 0.8s ease ;
}


.funciona.totoro {
    opacity: 0;
}


.eye{
    width: 22px;
    z-index: 11;
}

.eye1{
    bottom: 91px;
    left: 56px;
}
.eye2{
    bottom: 91px;
    right: 32px;
}
.icon_totoro{
    position: absolute;
    left: 0;
    top: 170px;
    display: flex;
    z-index: 12;
}
.icon_totoro img{
    transform: rotate(230deg);
    width: 70px;
}
.icon_totoro p{
    margin-bottom: 30px;  
}


@media screen and (max-width:600px) {
    .icon_totoro{
        top: 10px;
    }
    .icon_totoro img{
        transform: rotate(250deg);
        width: 45px;
    }

    .icon_totoro p{
        margin-bottom: 60px;  
    }
}