::root{
    --black:#202023;
    --whitePurple:#F1F1F9;
    --purple:#964BF4;
}

.general{
    height: 100vh;
}


.central{
    background-color: #F1F1F9;
    width: 736px ;
    height: 100vh;
    margin: 0 auto;
}




@media screen and (max-width:768px) {
    .central{
        
        width: 90%;
        
    }
}