::root{
    --black:#202023;
    --whitePurple:#F1F1F9;
    --purple:#964BF4;
}

.general{
    height: 100vh;
}


.central{
    width: 600px ;
    margin: 0 auto;
}


.copyright{
    padding: 50px 0;
    text-align: center;
}



@media screen and (max-width:768px) {
    .central{
        
        width: 90%;
        
    }
}