@font-face {
    font-family: 'MPLUSRegular';
    src: url(./assets/fonts/MPLUSRounded1c-Regular.ttf);
}
@font-face {
    font-family: 'MPLUSBold';
    src: url(./assets/fonts/MPLUSRounded1c-Bold.ttf);
}



*{
    font-family: 'MPLUSRegular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

